body{
    background: white url("../images/background.png");
}
.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'IranNastaliq', cursive;
}

@font-face {
    font-family: IranNastaliq;
    src: url("../fonts/IranNastaliq.ttf");
}

@font-face {
    font-family: B Koodak;
    src: url("../fonts/B koodak.ttf");
}