<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Viberr{% endblock %}</title>
    {% load staticfiles %}
    <!-- load the path to static files -->
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="{% static 'identify/bootstrap.rtl.full.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'identify/style.css' %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}

</head>
<body style="font-family: 'B Koodak';">
<!-- navbar header -->
<nav class="navbar navbar-inverse bg-success">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'identify:index' %}" style="padding: 20px">سامانه تشخیص چهره</a>
        </div>
        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% if active_menu == 'List' %}active{% endif %}">
                    <a href="{% url 'identify:index' %}">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;
                        لیست افراد
                    </a>
                </li>

                <li class="{% if active_menu == 'Capture' %}active{% endif %}">
                    <a href="{% url 'identify:capture' %}">
                        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbsp;
                        تست
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'identify:index' %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="">
                </div>
                <button type="submit" class="btn btn-default" style="margin: 0px; margin-right: 7px">جست و جو</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="{% if active_menu == 'Create' %}active{% endif %}">
                    <a href="{% url 'identify:new' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                        افزودن
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'identify:logout' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                        {{ user.username }}
                    </a>
                </li>


            </ul>
        </div>
    </div>
</nav>


{% block body %}
{% endblock %}
</body>
</html>