{% extends 'identify/base.html' %}
{% block title %} Test platform {% endblock %}

{#{% block albums_active %} active {% endblock %}#}

{% block head %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'Webcam/jpeg_camera_with_dependencies.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'identify/capture.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'identify/capture.css' %}">
{% endblock %}

{% block body %}

    <div style="direction: ltr">
        {#    <p>#}
        {#        This is a demonstration page for#}
        {#        <a href="https://amw.github.io/jpeg_camera/doc/">JpegCamera library</a>.#}
        {#    </p>#}
        {% if names %}
            <h1> {{ names }}</h1>
            <h1>خوش آمدید</h1>
        {% endif %}
        {#    <div id="camera_info">Camera resolution: 1280x720</div>#}
        {#    <div id="stream_stats">Mean luminance = 113; Standard Deviation = 73</div>#}

        <div id="camera" style="width: 250px; height: 350px">

        </div>
        <br>

        <button id="take_snapshots" style="display: inline-block;" class="btn btn-primary">گرفتن عکس
            &nbsp<span class="glyphicon glyphicon-camera"></span></button>

        <button id="show_stream" style="display: inline-block; " class="btn btn-primary">نمایش دوربین
            &nbsp<span class="glyphicon glyphicon-record"></span>
        </button>
        <br>

        <div id="snapshots">

        </div>

        <form action="{% url 'identify:capture_api' %}" method="post" id="detectJson">
            {% csrf_token %}
            <input type="hidden" name="facePicJson" id="facePicJson">
        </form>

        <form action="{% url 'identify:capture' %}" method="post" id="detect">
            {% csrf_token %}
            <input type="hidden" name="facePic" id="facePic">
        </form>


        <button id="upload_snapshot" style="display: inline-block;" class="btn btn-success">
            بارگذاری
            &nbsp;
            <span class="glyphicon glyphicon-upload"></span>
        </button>

        <button id="upload_snapshot_json" style="display: inline-block; align-content: left;"
                class="btn btn-success">
            بارگذاری - JSON
            &nbsp;
            <span class="glyphicon glyphicon-upload"></span>
        </button>
        {#    <button id="discard_snapshot" style="display: inline-block; visibility: hidden">Discard snapshot</button>#}

        {#    <input type="text" id="api_url" placeholder="https://example.com/upload" style="display: inline-block;"><br>#}

        {#    <img src="loader.gif" id="loader">#}
        <div id="upload_status"></div>
        <div id="upload_result"></div>
    </div>



{% endblock %}
