{% extends 'identify/base.html' %}
{% block title %}Person Detail{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-offset-4 col-md-4">
            <div class="thumbnail">
            <img style="width: 300px; height: 400px" src="{{ person.facePicture.url }}"/>
            <h1 style="text-align: center">{{ person.firstName }} {{ person.lastName }}</h1>
            <h2 style="text-align: center">{{ person.code }}</h2>
        </div>
        </div>
    </div>
{% endblock %}