{% extends 'identify/base.html' %}
{% block body %}
    {% for person in all_people %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'identify:detail' person.id %}">
                            <img src="{{ person.facePicture.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ person.firstName }} {{ person.lastName }}</h2>
                            <h4>{{ person.code }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'identify:detail' person.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- Delete Album -->
                            <form action="{% url 'identify:person-delete' person.id%}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{ person.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <!-- Favorite Album -->
                            <a href="#" class="btn btn-default btn-sm btn-favorite">
                                <span class="glyphicon glyphicon-star {% if person.is_favorite %}active{% endif %}"></span>
                            </a>

                        </div>
                    </div>
                </div>

            {% endfor %}
{% endblock %}